<!DOCTYPE html>
<html data-bs-theme="dark">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/customcss.css" rel="stylesheet">
    </head>
    <body class="position-absolute top-0"style="height:100vh; width:100vw">
        
        <!--Logout Button-->
        <button class="position-absolute btn btn-outline-secondary" style="top:2%; right:1%" onclick="window.location.href='{{ (url_for('logout')) }}'">Logout</button>
        <button class="ms-auto btn btn-sm btn-secondary" onclick="window.location.href='{{ url_for('instructorPage',  configuration=1) }}'">See Students</button>
        
        <div class="container mt-5 position-absolute w-25 top-0 start-50 translate-middle-x">
            <!-- Flash Messages -->
            <div class="alert-container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="alert-container">
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>

        <!--Content-->
        <div class="container text-center h-100 d-flex flex-row p-3">
            <div class="col-6 w-50 justify-content-between align-items-center flex-grow-1 d-flex flex-column">   
                <div class="d-flex gap-3 h-50 justify-content-center align-items-center flex-column w-100">
                    <h2 class="fs-1 flex-row d-flex border-bottom mb-3">{{ randMsg() }} {{ session.get("username") }}</h2>
                    <div class="d-flex flex-column gap-2" style="width:80%">
                        <div class="d-flex flex-row m-0 row">
                            <div class="col justify-content-end align-items-center d-flex align-items-center">
                                ID:
                            </div>
                            <div class="col justify-content-start align-items-center d-flex align-items-center">
                                {{ session.get("ID") }}
                            </div>
                        </div>
                        <div class="d-flex flex-row row m-0 flex-grow-1">
                            <div class="col justify-content-end align-items-center d-flex align-items-center">
                                Department:
                            </div>
                            <div  class="col justify-content-start align-items-center d-flex align-items-center">
                                <div class="scrollableElement text-truncate" style="overflow-x: auto; white-space: nowrap; scrollbar-width:none; max-width:100px" id="scrollableElement">
                                {{ session.get("dept_name") }}
                                </div>
                                <button class="ms-auto btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#deptChangeModal">Change</button>
                            </div>
                        </div>
                        <div class="d-flex row  flex-row m-0 flex-grow-1">
                            <div class="col justify-content-end align-items-center d-flex">
                                Salary:
                            </div>
                            <div class="col justify-content-start align-items-center d-flex">
                                {{ session.get("salary") }}
                                <button class="ms-auto btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#salaryChangeModal">Change</button>
                            </div>
                        </div>
                        <div class="d-flex row  flex-row m-0 flex-grow-1">
                            <div class="col justify-content-end align-items-center d-flex">
                                Currently Advising:
                            </div>
                            <div class="col justify-content-start align-items-center d-flex">
                                {{ session.get("advisingCount") }}
                                <button class="ms-auto btn btn-sm btn-secondary" onclick="window.location.href='{{ url_for('instructorPage', configuration=0) }}'">See Students</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--uses configuration variable for display changing-->
                <div class="d-flex gap-3 h-50 justify-content-center align-items-center flex-column w-100">
                    {% if configuration == 0 %}
                    <!--Config 0 - List Advising Students-->
                    <div class="d-flex flex-column jusitfy content-center align-items-center h-100 w-100">
                        <h2 class="fs-3 mt-3 mx-auto align-self-start flex-row d-flex border-bottom mb-3">Advising Options</h2>
                        <div class="d-flex flex-column justify-space-between align-items-center gap-3 w-75">
                            <button class="btn btn-primary w-50" data-bs-toggle="modal" data-bs-target="#addStdAdvising">Add Student</button>
                            <button class="btn btn-primary w-50" data-bs-toggle="modal" data-bs-target="#rmStdAdvising">Remove Student</button>
                        </div>
                    </div>
                    
                    {% elif configuration == 1 %}
                    <!--Config 1 - Sections-->
                    <div>
                        
                    </div>

                    {% elif configuration == 1 %}
                    <!--Config 1 - Students-->
                    <div>
                        
                    </div>
                    {% endif %}
                </div>
            </div>
            
            <div class="col-6 top-0 end-0 h-100 d-flex flex-column justify-content-start align-items-center ">
                {% if configuration == 0 %}  
                    {% if session.get('tableData') %}
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Total Credits</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for s in session.get('tableData') %}
                                    <tr>
                                        <td>{{ s[0] }}</td>
                                        <td>{{ s[1] }}</td>
                                        <td>{{ s[2] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <h4>none found</h4>

                    {% endif %}
                {% elif configuration == 1 %}
                    {% if session.get('tableData') %}
                        <form method="POST" action="/instructor">
                            <input type="hidden" name="action" value="filter">
                            <label for="filter" class="col-form-label">Filter by Semester:</label>
                            <select id="filter" name="filter" class="form-select">
                                <option value="None">None</option>
                                {% for val in getSems() %}
                                    <option value="{{val[0]}},{{val[1]}}">{{ val[0] }} {{ val[1] }}</option>
                                {% endfor %}
                            </select>
                            <button class="btn btn-primary" type="submit" >submit</button>

                        </form>
                    
                    <div class="table-responsive" style="overflow-x:auto; width:80%">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Course</th>
                                    <th scope="col">Semester</th>
                                    <th scope="col">Year</th>
                                    <th scope="col">Building</th>
                                    <th scope="col">Room #</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">---</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for s in session.get('tableData') %}
                                <tr>
                                    <td>{{ s[0] }}</td>
                                    <td>{{ s[1] }}</td>
                                    <td>{{ s[2] }}</td>
                                    <td>{{ s[3] }}</td>
                                    <td>{{ s[4] }}</td>
                                    <td><b>{{ s[5] }}</b> {{ s[6] }}:{{ s[7] }}-{{ s[8] }}:{{ s[9] }}</td>
                                    <td>...</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                        <h4>none found</h4>

                    {% endif %}
                {% elif configuration ==2 %}
                    <div>a</div>
                {% endif %}
            </div>
        </div>


        <!--Change dept modal-->
        <div class="modal" id="deptChangeModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header d-flex">
                        <h5 class="modal-title d-flex text-center">Select New Department</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/instructor" id="DepartmentForm">
                            <input type="hidden" name="action" value="newDept">
                            <div class="mb-3 mx-2 row flex-column">
                                <select class="form-select"id="newDept" name="newDept">
                                    {% for op in departments %}
                                        <option value="{{ op[0] }}">{{ op[0] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="Submit" class="btn btn-primary" form="DepartmentForm">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Change salary modal-->
        <div class="modal" id="salaryChangeModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header d-flex">
                        <h5 class="modal-title d-flex text-center">Input New Salary</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/instructor" id="SalaryForm">
                            <input type="hidden" name="action" value="newSalary">
                            <div class="mb-3 mx-2 row flex-column">
                                <label for="SalaryForm" class="text-center form-label"></label>
                                <input type="number" min="0" max="999999999" class="d-flex align-self-center form-control text-center w-75" name="newSalary" id="newSalary" placeholder="Enter Value" required></input>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="Submit" class="btn btn-primary" form="SalaryForm">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Add student to Advising-->
        <div class="modal" id="addStdAdvising" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header d-flex">
                        <h5 class="modal-title d-flex text-center">Add Student to Advising</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/advising" id="AddStdAdvising">
                            <input type="hidden" name="action" value="Add">
                            <div class="mb-3 mx-2 row flex-column">
                                <input type="number" min = '0' max ="99999" id="ID" name="ID" placeholder="Insert ID">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="Submit" class="btn btn-primary" form="AddStdAdvising">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Remove student to Advising-->
        <div class="modal" id="rmStdAdvising" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header d-flex">
                        <h5 class="modal-title d-flex text-center">Remove Student</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/advising" id="RmStdAdvising">
                            <input type="hidden" name="action" value="Remove">
                            <div class="mb-3 mx-2 row flex-column">
                                <input type="number" min = '0' max ="99999" id="ID" name="ID" placeholder="Insert ID">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="Submit" class="btn btn-primary" form="RmStdAdvising">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="../static/js/scrollText.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>